@using KoRequireMVCSample.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/EssentialScripts")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")


    <script>var version = "@Html.AssemblyRevisionNumber()";</script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                @Html.ActionLink("Inventory Sales Management", "Index", "Home",
                                 new { area = "" }, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("Product Editor", "Index", "Product", new { area = "" }, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("Product Type Editor", "Index", "ProductType", new { area = "" }, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("Product Image Editor", "Index", "ProductImages", new { area = "" }, new { @class = "nav-item nav-link" })

                        @Html.Partial("_LoginPartial")
                    </div>
                  
                </div>

            </nav>
        </div>
        <div class="row">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Using Require.js, Knockout and MVC</p>
                </footer>
            </div>
        </div>
       
    </div>
    <script src="@Html.ScriptsPath("lib/require.js")"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
